**/.obsidian
node_modules
dist # default directory of 11Ty SSG deployment
docs # default directory to serve on GitHub
netlify/functions/search/data.json
netlify/functions/search/index.json
src/site/styles/theme.*.css
src/site/styles/_theme.*.css
.netlify
.idea/
.vercel
.cache
_site/
**/.DS_Store
