<!--
<div class="content">
    <button id="editButton" style="margin-top: 10px;">Editar en GitHub</button>
</div>

<script>
document.addEventListener('DOMContentLoaded', function() {
    var path = window.location.pathname;
    var editButton = document.getElementById('editButton');
    editButton.setAttribute('onclick', "window.location.href='https://www.github.com/user/wiki-vault/blob/main/" + path + "'");
});
</script>
-->
